@model DatPhongTongHop
@{
    ViewData["Title"] = "Index";
}
<h1>DS Phieu Dat Phong</h1>

<p>
    <a asp-controller="Create" asp-action="Create">Dat phong</a>
</p>
<form asp-controller="DatPhong" asp-action="Index"  method="get">

    
    
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.datPhongs[0].TenNguoiDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datPhongs[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datPhongs[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datPhongs[0].CMND)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datPhongs[0].SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datPhongs[0].TienDatCoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datPhongs[0].ThoiGianNhanPhongDuKien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datPhongs[0].ThoiGianTraPhongDuKien)
            </th>dichvu
            <th>
                @Html.DisplayNameFor(model => model.datPhongs[0].UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.datPhongs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNguoiDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienDatCoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianNhanPhongDuKien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianTraPhongDuKien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


