@model Hotel.Models.LoaiPhong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LoaiPhong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenLoaiPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLoaiPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTaLoaiPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTaLoaiPhong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LoaiPhongId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
