@model HappyHoTel.Models.Phong

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Phong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNguoiOToiDa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNguoiOToiDa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTaPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTaPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CachTinhTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CachTinhTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuThu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuThu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrangPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinhTrangPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiPhongs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiPhongs.TenLoaiPhong)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PhongId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
