@model HappyHoTel.Models.ViewModel.PhongTinhTrangViewModel
@* Đặt phòng *@
    <form asp-controller="DatPhong" asp-action="Index" method="get">
        <p>

            <select asp-for="TinhTrang" asp-items="Model.TinhTrangSelectList">
                <option value="">All</option>
            </select>

            Title: <input type="text" asp-for="SearchString" />
            <input type="submit" value="Filter" />

            @*Ngày : <input type="text" asp-for="SearchString" />
            <input type="submit" value="Filter" />*@
        </p>
    </form>
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Phongs[0].TenPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model =>  model.Phongs[0].SoNguoiOToiDa)
        </th>
        <th>
            @Html.DisplayNameFor(model =>  model.Phongs[0].MoTaPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model =>  model.Phongs[0].CachTinhTien)
        </th>
        <th>
            @Html.DisplayNameFor(model =>  model.Phongs[0].PhuThu)
        </th>
        <th>
            @Html.DisplayNameFor(model =>  model.Phongs[0].TinhTrangPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model =>  model.Phongs[0].LoaiPhongs)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Phongs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoNguoiOToiDa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTaPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CachTinhTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhuThu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrangPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiPhongs.TenLoaiPhong)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.PhongId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PhongId">Details</a> |*@
                <a asp-action="DatPhong" asp-route-id="@item.PhongId">Đặt Phòng</a>
            </td>
        </tr>
    }
    </tbody>
</table>