@model Test.Models.ViewModel.PhongTinhTrangViewModel
@* view cua phiếu đặt phòng *@
@{
    ViewData["Title"] = "Delete";
}

<h1>Phiếu đặt phòng</h1>

<h3>Thông tin phiếu đặt phòng</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <dl class="row">
                    <dt class="col-md-2">
                        @Html.DisplayNameFor(model => model.Phongs[0].TenPhong)
                    </dt>
                    <dd class="col-md-4">
                        @Html.DisplayFor(model => model.Phongs[0].TenPhong)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phongs[0].SoNguoiOToiDa)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.Phongs[0].SoNguoiOToiDa)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phongs[0].MoTaPhong)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.Phongs[0].MoTaPhong)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phongs[0].CachTinhTien)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.Phongs[0].CachTinhTien)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phongs[0].PhuThu)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.Phongs[0].PhuThu)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phongs[0].TinhTrangPhong)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.Phongs[0].TinhTrangPhong)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phongs[0].LoaiPhongs)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.Phongs[0].LoaiPhongs.TenLoaiPhong)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-md-4">
                    @*<form asp-action="Create">*@
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="PhieuDatPhong.TinhTrang" /> @Html.DisplayNameFor(model => model.PhieuDatPhong.TinhTrang)
                        </label>
                        @*<label class="form-check-label">
                                <input class="form-check-input" asp-for="" /> @Html.DisplayNameFor(model => model.TinhTrang)
                            </label>*@
                    </div>
                    @*<div class="form-group">
                        <label asp-for="PhieuDatPhong.NgayNhanDuTinh" class="control-label"></label>
                        <input asp-for="PhieuDatPhong.NgayNhanDuTinh" class="form-control" />
                        <span asp-validation-for="PhieuDatPhong.NgayNhanDuTinh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhieuDatPhong.NgayTraDuTinh" class="control-label"></label>
                        <input asp-for="PhieuDatPhong.NgayTraDuTinh" class="form-control" />
                        <span asp-validation-for="PhieuDatPhong.NgayTraDuTinh" class="text-danger"></span>
                    </div>*@
                    @*<div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>*@
                    @*</form>*@
                </div>
            </div>

            @*<div>
                    <a asp-action="Index">Back to List</a>
                </div>*@
        </div>
    </div>
    <br />
    <hr />
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="col-sm">
                <form asp-action="DatPhong">
                    <input type="hidden" asp-for="Phongs[0].PhongId" />
                    <input type="submit" value="Dat Phong" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>
