@model Hotel.Models.Bill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhanThucTe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNhanThucTe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTraThucTe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTraThucTe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienDatCoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienDatCoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongTienThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTienThanhToan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhieuDatPhongId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhieuDatPhongId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BillId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
