@model IEnumerable<CaChepFinal.Data.DatPhong>

@{
    ViewData["Title"] = "Index";
}

<h1>Dat Phong</h1>

<p>
    <a asp-action="Create">Create PhieuDatPhong</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNguoiDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CMND)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienDatCoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianNhanPhongDuKien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianTraPhongDuKien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNguoiDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienDatCoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianNhanPhongDuKien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianTraPhongDuKien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
