@model CaChepFinal.Data.TrangThaiDatPhong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrangThaiDatPhong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetDatPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetDatPhong.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetTrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetTrangThai.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
