@model CaChepFinal2.Areas.Admin.Models.DatPhongDetails
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* DatPhongdeTails *@
<h1>Chi Tiết Phiếu đặt Phòng</h1>


<div>
    <h4>DatPhong</h4>
    <div>
        @*<a asp-action="Edit" asp-route-id="@Model.GetDatPhong.Id">Edit</a> |*@
        <a asp-action="Index">Back to List</a>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GetDatPhong.TenNguoiDat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GetDatPhong.TenNguoiDat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GetDatPhong.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GetDatPhong.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GetDatPhong.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GetDatPhong.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GetDatPhong.CMND)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GetDatPhong.CMND)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GetDatPhong.SDT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GetDatPhong.SDT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GetDatPhong.TienDatCoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GetDatPhong.TienDatCoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GetDatPhong.ThoiGianNhanPhongDuKien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GetDatPhong.ThoiGianNhanPhongDuKien)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GetDatPhong.ThoiGianTraPhongDuKien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GetDatPhong.ThoiGianTraPhongDuKien)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="DetailsDatPhong">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GetDatPhong.Id" />
            @*<div class="form-group" >
                <label asp-for="GetDatPhong.TrangThaiId" class="control-label"></label>
                <select asp-for="GetDatPhong.TrangThaiId" class="form-control" asp-items="ViewBag.TrangThaiId"></select>
                <span asp-validation-for="GetDatPhong.TrangThaiId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Nhận Phòng" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>









@* Bang Phong *@
<h2>Danh sách Phòng</h2>
@*<p>
    <a asp-action="IndexPhong">Them Phong</a>
</p>*@
<table class="table">
    <thead>
        <tr><th>
                @Html.DisplayNameFor(model => model.ChiTietPhongDatPhongs[0].Phong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiTietPhongDatPhongs[0].TongSoNgay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiTietPhongDatPhongs[0].GiaTienMotNgay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiTietPhongDatPhongs[0].DatPhong)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ChiTietPhongDatPhongs)
        {
            <tr><td>
                    @Html.DisplayFor(modelItem => item.Phong.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongSoNgay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaTienMotNgay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatPhong.Id)
                </td>
                
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

@* Bang DichVu *@

<h2>Danh sách Dịch Vụ</h2>
@*<p><a asp-action="IndexDichVu">Them Dich Vu</a></p>*@


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChiTietDichVuDatPhongs[0].SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiTietDichVuDatPhongs[0].GiaTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiTietDichVuDatPhongs[0].GetDatPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiTietDichVuDatPhongs[0].GetDichVu)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ChiTietDichVuDatPhongs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetDatPhong.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetDichVu.Id)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
    }
    </tbody>
</table>