@model CaChepFinal2.Areas.Admin.Models.DatPhongIndexVM
@* Trang Index, trang chu hiển thị các phiếu đặt phòng *@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DS Phieu Dat Phong</h1>

<p>
    <a asp-controller="DatPhong" asp-action="CreateDatPhong">Dat phong</a>
</p>
<form asp-controller="DatPhong" asp-action="Index" method="get">
    <p>

        <select asp-for="TrangThai" asp-items="Model.ListNameTrangThai">
            <option value="">All</option>
        </select>
        <div class="form-group">
            <label asp-for="newDatPhong.ThoiGianNhanPhongDuKien.Date" class="control-label"></label>

            <input asp-for="newDatPhong.ThoiGianNhanPhongDuKien" class="form-control" />
        </div>
        CMND: <input type="text" asp-for="CMND" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.datPhongs[0].TenNguoiDat)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datPhongs[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datPhongs[0].CMND)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datPhongs[0].SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datPhongs[0].TienDatCoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datPhongs[0].ThoiGianNhanPhongDuKien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datPhongs[0].ThoiGianTraPhongDuKien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datPhongs[0].GetTrangThai.Name)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.datPhongs)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNguoiDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienDatCoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianNhanPhongDuKien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianTraPhongDuKien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetTrangThai.Name)
            </td>
            <td>
                <a asp-action="DetailsDatPhong" asp-route-id="@item.Id">Chi Tiết</a> |
                <a asp-action="NhanPhong" asp-route-id="@item.Id">Nhận Phòng</a>
            </td>
        </tr>
        }
    </tbody>
</table>


