@model IEnumerable<Hotel.Models.Bill>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayNhanThucTe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTraThucTe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienDatCoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTienThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhieuDatPhongId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhanThucTe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTraThucTe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienDatCoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTienThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhieuDatPhongId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BillId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BillId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BillId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
