@model Test.Models.Phong

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Phong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNguoiOToiDa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNguoiOToiDa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTaPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTaPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CachTinhTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CachTinhTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuThu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuThu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrangPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinhTrangPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiPhongs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiPhongs.LoaiPhongId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PhongId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
