@model IEnumerable<Test.Models.Phong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenPhong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoNguoiOToiDa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTaPhong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CachTinhTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhuThu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrangPhong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiPhongs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoNguoiOToiDa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTaPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CachTinhTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhuThu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrangPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiPhongs.TenLoaiPhong)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PhongId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PhongId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PhongId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
